*{
    padding: 0;
    margin: 0;
    margin-left: 8px;
}
.my-name h2{
    color: blue;
    }
    .my-name{
        display: flex;
    }
    .my-name p{
         font-size: 15px;
         font-family: Barlow Semi Condensed, sans-serif; 
         font-weight: bold;
         margin-top: 7px;
         margin-left: 12px;
    }
.navbar{
    margin-top: 30px;
    display: flex;
}
.nav ul li{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav{
    margin-left: 400px;
}
.nav ul li:hover{
    color: blue;
}
.container{
    display: flex;
}
.lab{
    margin-left: 400px;
    clip-path: circle();
    margin-top: 100px;

}
#plab{
    height: 400px;
}
#line{
    height: 2px;
    width: 50px;
    background-color: rgb(142, 46, 225);
    margin-top: 300px;
}
.cont h1{
    margin-top: 50px;
    font-size: 70px;
}
.send{
    display: flex;
    margin-top: 200px;
}
.send1 h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.send1 p{
    color:rgb(142, 46, 225);
    line-height: 1.7;
}
.names{
    margin-left: 200px;
    font-weight: bold;
    color:rgb(48, 48, 50);
    font-size: 20px;
}
#fname{
    height: 40px;
    width: 200px;
}
#lname{
    height: 40px;
    width: 200px;
}
#email{
    height: 40px;
    width: 415px;
}
#message{
    height:100px;
    width: 415px;
}
.names button{
    border: none;
}
.futher{
    margin-top: 200px;
    display: flex;
  }
  .futher1 h2{
      margin-bottom: 30px;
      font-family: Playfair Display, sans-serif;
  }
  .futher1 h1{
      font-size: 80px;
  }
  .futher2 {
  margin-left: 400px;
  }
  .futher3 {
      margin-left: 50px;
      }
  .futher2 h3{
      margin-bottom: 30px;
  }
  .futher3 h3{
      margin-bottom: 30px;
  }
  .futher2 p{
      line-height: 1.5;
      color: rgb(189, 122, 252);
  }
  .futher3 p{
      line-height: 1.5;
      color: rgb(189, 122, 252);
  }
  .last-futher{
      text-align: center;
      margin-top: 100px;
      color: rgb(189, 122, 252);
      margin-bottom: 100px;
  
  }
 
